<h1 class="mt-4">Dashboard</h1>

<div class="card" style="width: 18rem">
  <img src="..." class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">Description</h5>
    <p class="card-text"><%=Description %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><%=name %></li>
    <li class="list-group-item"><%=product %></li>
    <li class="list-group-item">Product Type:<%=product %></li>
    <li class="list-group-item"><%=city %></li>
    <li class="list-group-item"><%=state %></li>
  
    
    
    <li class="list-group-item"></li>
  </ul>
  <div class="card-body">
    <a href="/users/logout" class="btn btn-secondary">Logout </a>
  </div>
</div>
