<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
        <i class="fas fa-user-plus"></i> Register
      </h1>
      <%- include ("./partials/messages"); %>
      <form action="/users/register" method="POST">
        <div class="form-group">
          <label for="name">Vendors Name</label>
          <input
            type="name"
            id="name"
            name="name"
            class="form-control"
            placeholder="Enter Name"
            value="<%= typeof name != 'undefined' ? name : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
            value="<%= typeof email != 'undefined' ? email : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="contact">Contact</label>
          <input
            type="text"
            id="contact"
            name="contact"
            class="form-control"
            placeholder="Enter contact Number"
            value="<%= typeof contact != 'undefined' ? contact : '' %>"
          />
        </div>
        <div>
          
        </div>
        <div class="form-group">
          <label for="productname">Product Deatils</label>
          <input
            type="text"
            id="productName"
            name="productName"
            class="form-control"
            placeholder="Product Name"
            value="<%= typeof productName != 'undefined' ? productName : '' %>"
          />
          <div class="form-row align-items-center">
            <div class="col-auto my-1">
              <label class="mr-sm-2 sr-only" for="productType">Products</label>
              <select class="custom-select mr-sm-2" id="productType" name="productType">
                <option selected>Product Type</option>
                <option name="productType" value="Raw materials">Raw materials</option>
                <option name="productType" value="Electrical Products">Electrical Products</option>
                <option name="productType" value="Mechanical Products">Mechanical Products</option>
                <option name="productType" value="Lubricating Oil Products">Lubricating Oil Products</option>
                <option name="productType" value="Saftey components">Saftey components</option>
              </select>
            </div>
        </div>
  
        <div class="form-row">
          
          <div class="col-7">
            <label for="city">City</label>
            <input type="text" class="form-control" placeholder="City" id="city" name="city">
          </div>
          <div class="col">
            <label for="state">State</label>
            <input type="text" class="form-control" placeholder="State" id="state" name="state">
          </div>
          <div class="col">
            <label for="zip">Zip</label>
            <input type="text" class="form-control" placeholder="Zip" id="zip" name="zip"> 
          </div>
        </div>
        <div class="form-group">
          <label for="productDescription">Product Description</label>
          <textarea class="form-control" id="productDescription" rows="2"
          value="<%= typeof productDescription != 'undefined' ? productDescription : '' %>"
          name="productDescription"></textarea>
        </div>
       
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Create Password"
            value="<%= typeof password != 'undefined' ? password : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="password2">Confirm Password</label>
          <input
            type="password"
            id="password2"
            name="password2"
            class="form-control"
            placeholder="Confirm Password"
            value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
          />
        </div>
        <button type="submit" class="btn btn-danger btn-block">Register</button>
      </form>
      <p class="lead mt-4">Have An Account? <a href="/users/login">Login</a></p>
    </div>
  </div>
</div>
